In [1]:
import pandas as pd

In [2]:
df__enem = pd.read_csv('D:/pythonProject/MICRODADOS_ENEM_2019.csv', encoding='Latin1', sep=';')

In [3]:
list(df__enem.columns)

['NU_INSCRICAO',
 'NU_ANO',
 'CO_MUNICIPIO_RESIDENCIA',
 'NO_MUNICIPIO_RESIDENCIA',
 'CO_UF_RESIDENCIA',
 'SG_UF_RESIDENCIA',
 'NU_IDADE',
 'TP_SEXO',
 'TP_ESTADO_CIVIL',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'CO_MUNICIPIO_NASCIMENTO',
 'NO_MUNICIPIO_NASCIMENTO',
 'CO_UF_NASCIMENTO',
 'SG_UF_NASCIMENTO',
 'TP_ST_CONCLUSAO',
 'TP_ANO_CONCLUIU',
 'TP_ESCOLA',
 'TP_ENSINO',
 'IN_TREINEIRO',
 'CO_ESCOLA',
 'CO_MUNICIPIO_ESC',
 'NO_MUNICIPIO_ESC',
 'CO_UF_ESC',
 'SG_UF_ESC',
 'TP_DEPENDENCIA_ADM_ESC',
 'TP_LOCALIZACAO_ESC',
 'TP_SIT_FUNC_ESC',
 'IN_BAIXA_VISAO',
 'IN_CEGUEIRA',
 'IN_SURDEZ',
 'IN_DEFICIENCIA_AUDITIVA',
 'IN_SURDO_CEGUEIRA',
 'IN_DEFICIENCIA_FISICA',
 'IN_DEFICIENCIA_MENTAL',
 'IN_DEFICIT_ATENCAO',
 'IN_DISLEXIA',
 'IN_DISCALCULIA',
 'IN_AUTISMO',
 'IN_VISAO_MONOCULAR',
 'IN_OUTRA_DEF',
 'IN_GESTANTE',
 'IN_LACTANTE',
 'IN_IDOSO',
 'IN_ESTUDA_CLASSE_HOSPITALAR',
 'IN_SEM_RECURSO',
 'IN_BRAILLE',
 'IN_AMPLIADA_24',
 'IN_AMPLIADA_18',
 'IN_LEDOR',
 'IN_ACESSO',
 'IN_TRANSCRICAO',
 'IN_LIBRAS',
 'IN_TEMPO_ADICIONAL',
 'IN_LEITURA_LABIAL',
 'IN_MESA_CADEIRA_RODAS',
 'IN_MESA_CADEIRA_SEPARADA',
 'IN_APOIO_PERNA',
 'IN_GUIA_INTERPRETE',
 'IN_COMPUTADOR',
 'IN_CADEIRA_ESPECIAL',
 'IN_CADEIRA_CANHOTO',
 'IN_CADEIRA_ACOLCHOADA',
 'IN_PROVA_DEITADO',
 'IN_MOBILIARIO_OBESO',
 'IN_LAMINA_OVERLAY',
 'IN_PROTETOR_AURICULAR',
 'IN_MEDIDOR_GLICOSE',
 'IN_MAQUINA_BRAILE',
 'IN_SOROBAN',
 'IN_MARCA_PASSO',
 'IN_SONDA',
 'IN_MEDICAMENTOS',
 'IN_SALA_INDIVIDUAL',
 'IN_SALA_ESPECIAL',
 'IN_SALA_ACOMPANHANTE',
 'IN_MOBILIARIO_ESPECIFICO',
 'IN_MATERIAL_ESPECIFICO',
 'IN_NOME_SOCIAL',
 'CO_MUNICIPIO_PROVA',
 'NO_MUNICIPIO_PROVA',
 'CO_UF_PROVA',
 'SG_UF_PROVA',
 'TP_PRESENCA_CN',
 'TP_PRESENCA_CH',
 'TP_PRESENCA_LC',
 'TP_PRESENCA_MT',
 'CO_PROVA_CN',
 'CO_PROVA_CH',
 'CO_PROVA_LC',
 'CO_PROVA_MT',
 'NU_NOTA_CN',
 'NU_NOTA_CH',
 'NU_NOTA_LC',
 'NU_NOTA_MT',
 'TX_RESPOSTAS_CN',
 'TX_RESPOSTAS_CH',
 'TX_RESPOSTAS_LC',
 'TX_RESPOSTAS_MT',
 'TP_LINGUA',
 'TX_GABARITO_CN',
 'TX_GABARITO_CH',
 'TX_GABARITO_LC',
 'TX_GABARITO_MT',
 'TP_STATUS_REDACAO',
 'NU_NOTA_COMP1',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
 'NU_NOTA_REDACAO',
 'Q001',
 'Q002',
 'Q003',
 'Q004',
 'Q005',
 'Q006',
 'Q007',
 'Q008',
 'Q009',
 'Q010',
 'Q011',
 'Q012',
 'Q013',
 'Q014',
 'Q015',
 'Q016',
 'Q017',
 'Q018',
 'Q019',
 'Q020',
 'Q021',
 'Q022',
 'Q023',
 'Q024',
 'Q025']

In [4]:
display(df__enem)

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001595656,2019,3552205,Sorocaba,35,SP,36.0,M,1,3,...,A,A,A,A,A,A,C,A,C,B
1,190001421546,2019,2910800,Feira de Santana,29,BA,23.0,M,1,1,...,A,A,A,B,A,A,E,A,A,B
2,190001133210,2019,2304400,Fortaleza,23,CE,39.0,F,1,3,...,A,A,A,B,A,A,C,A,A,B
3,190001199383,2019,1721000,Palmas,17,TO,25.0,F,1,1,...,A,A,A,C,A,B,D,A,B,B
4,190001237802,2019,3118601,Contagem,31,MG,22.0,F,1,1,...,B,A,A,B,A,A,C,B,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,190006074437,2019,5300108,Brasília,53,DF,41.0,F,4,3,...,B,A,A,B,A,A,B,B,A,B
5095266,190005429225,2019,1302603,Manaus,13,AM,20.0,M,1,3,...,A,A,A,B,B,A,E,A,A,B
5095267,190006087652,2019,4302105,Bento Gonçalves,43,RS,21.0,M,0,0,...,A,A,A,B,A,A,C,B,B,B
5095268,190006087653,2019,4302105,Bento Gonçalves,43,RS,22.0,M,0,0,...,B,A,A,C,B,B,A,A,A,B
5095269,190006087654,2019,4302105,Bento Gonçalves,43,RS,21.0,F,0,0,...,A,A,A,B,A,A,B,B,B,B

## Quantas pessoas de cada idade fizeram o enem 2019

In [5]:
dict(df__enem['NU_IDADE'].value_counts())

## Quantas pessoas abaixo de 20 anos é do estado de SP

In [6]:
pessoas_sp = df__enem.loc[df__enem['SG_UF_RESIDENCIA'] == 'SP']
pessoas_sp.loc[pessoas_sp['NU_IDADE'] < 21, ['NU_IDADE']].count()  # Pessoas abaixo de 20 anos que fizeram o enem: 572395

NU_IDADE    572395
dtype: int64

## Dessas pessoas quantas são homens e quantas são mulheres

In [7]:
pessoas_sp.loc[pessoas_sp['NU_IDADE'] < 21, ['TP_SEXO']].value_counts()  # Homens: 230250  Mulheres: 342145

TP_SEXO
F          342145
M          230250
dtype: int64

## Quantas pessoas moram em Itaperuna - RJ

In [8]:
df__enem.loc[df__enem['NO_MUNICIPIO_RESIDENCIA'] == 'Itaperuna']  # Resposta 1662 pessoas fizeram o enem em Itaperuna

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
6777,190001531269,2019,3302205,Itaperuna,33,RJ,23.0,M,1,3,...,A,A,A,B,A,A,B,A,B,B
8627,190001541634,2019,3302205,Itaperuna,33,RJ,18.0,M,1,3,...,B,A,A,E,B,B,E,A,B,B
8737,190001541643,2019,3302205,Itaperuna,33,RJ,22.0,M,1,1,...,A,A,A,B,A,A,C,A,B,B
10356,190001517309,2019,3302205,Itaperuna,33,RJ,22.0,F,1,1,...,B,A,A,C,A,B,D,A,B,B
10830,190001517347,2019,3302205,Itaperuna,33,RJ,18.0,M,1,1,...,B,A,A,B,A,A,D,A,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5082519,190006053712,2019,3302205,Itaperuna,33,RJ,27.0,F,1,2,...,A,A,A,B,A,B,C,A,A,B
5084109,190005811137,2019,3302205,Itaperuna,33,RJ,26.0,M,1,1,...,A,A,A,B,B,A,E,B,B,B
5086746,190006073673,2019,3302205,Itaperuna,33,RJ,24.0,F,1,3,...,A,A,A,B,A,A,B,A,A,B
5086852,190006073683,2019,3302205,Itaperuna,33,RJ,33.0,F,2,1,...,B,A,B,C,A,B,D,A,B,B
5086917,190006073690,2019,3302205,Itaperuna,33,RJ,18.0,M,1,1,...,A,A,A,B,A,A,C,A,A,A

## Das pessoas de Itaperuna qual é média de idades, maior idade e a menor idade

In [9]:
df_itaperuna = df__enem.loc[df__enem['NO_MUNICIPIO_RESIDENCIA'] == 'Itaperuna']
df_itaperuna['NU_IDADE'].mean()  # média de idades: 20.63
df_itaperuna['NU_IDADE'].min()  # menor idade: 14
df_itaperuna['NU_IDADE'].max()  # maior idade: 64

64.0

## De Itaperuna quantos homens e mulheres fizeram o enem

In [10]:
df_itaperuna['TP_SEXO'].value_counts()  # Homens: 1015  Mulheres: 647

F    1015
M     647
Name: TP_SEXO, dtype: int64

## Média, maior e menor nota em Itaperuna

In [14]:
notas_Itaperuna = (df_itaperuna['NU_NOTA_CN'] + df_itaperuna['NU_NOTA_CH'] + df_itaperuna['NU_NOTA_LC'] + df_itaperuna['NU_NOTA_MT']) / 4
notas_Itaperuna = notas_Itaperuna.dropna()
media = sum(notas_Itaperuna) / len(notas_Itaperuna)
maior = notas_Itaperuna.max()
menor = notas_Itaperuna.min()
print(f'Maior: {maior}, Menor: {menor}, Média: {media}')  
# Maior: 751.575  Menor: 378.35  Média: 534.751

Maior: 751.575, Menor: 378.35, Média: 534.7514035087726

## Em Itaperuna, quantos alunos de escola pública e privada fizeram o Enem

In [13]:
nao_respondeu = 0
publica = 0
privada = 0
for valor in df_itaperuna['TP_ESCOLA']:
    if valor == 1:
        nao_respondeu += 1
    elif valor == 2:
        publica += 1
    elif valor == 3:
        privada += 1
print(f'Não Respondeu: {nao_respondeu}, Pública: {publica}, Privada: {privada}')

Não Respondeu: 1017, Pública: 548, Privada: 97